html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}
nav {
    margin-top: 185px;
    font-size: 4em;
    color: #85689a;
}
#whats-on {
    background-image: url(/src/photo/1/jeremy-lishner-tKgcMR8saYA-unsplash.jpg);
}
#whats-on:h1 {
    color: #cdc16d;
    font-size: 6em;
    text-align: center;
}
a {
    text-decoration: none;
    color: #85689a;
}
li {
    list-style: none;
}
ul {
    display: flex;
    gap: 70px;
    align-content: center;
    justify-items: center;
}
