.card {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 550px;
  cursor: pointer;
  margin: 0 50px;
  border-radius: 10px;
  background-color: var(--grey-300);
  position: relative;
  transition: 0.3s ease-in-out all;
}

p {
  color: var(--grey-900);
  font-weight: 500;
  padding: 16px;
}

a {
  text-decoration: none;
  color: var(--grey-300);
  height: 100%;
}

.card-image {
  display: flex;
  height: 350px;
  width: 100%;
  overflow: hidden;
  justify-content: center;
  border-radius: 0 0 10px 10px;
}

img {
  height: 100%;
  background-size: cover;
}

.first {
  left: 0px;
}

.second {
  left: -650px;
}

.third {
  left: -1300px;
}

.fourth {
  left: -1950px;
}

/* X-Small devices (portrait phones, 576px and down) */
@media screen and (max-width: 575.8px) {
  .card {
    width: 100%;
    height: auto;
  }

  .card-image {
    height: 270px;
  }
}

/* Small devices (landscape phones, 768px and down) */
@media screen and (min-width: 576px) and (max-width: 767.8px) {
  .card {
    width: 460px;
    height: auto;
  }

  .card-image {
    height: 300px;
  }

  .first {
    left: 0px;
  }

  .second {
    left: -560px;
  }

  .third {
    left: -1120px;
  }

  .fourth {
    left: -1680px;
  }
}

/* Medium devices (tablets, 992px and down) */
@media screen and (min-width: 768px) and (max-width: 991.8px) {}

/* Large devices (desktops, 1200px and down) */
@media screen and(min-width: 992px) and (max-width: 1199.8px) {}