.card {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 550px;
  cursor: pointer;
  margin: 0 50px;
  border-radius: 10px;
  background-color: var(--grey-300);
  position: relative;
  transition: 0.3s ease-in-out all;
}

p {
  color: var(--grey-900);
  font-weight: 500;
  padding: 16px;
}

a {
  text-decoration: none;
  color: var(--grey-300);
  height: 100%;
}

.card-image {
  display: flex;
  height: 350px;
  width: 550px;
  overflow: hidden;
  justify-content: center;
  border-radius: 0 0 10px 10px;
}

img {
  height: 100%;
  background-size: cover;
}

.first {
  left: 0px;
}

.second {
  left: -650px;
}

.third {
  left: -1300px;
}

.fourth {
  left: -1950px;
}