.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--grey-300);
  height: 100%;
}

.card-image {
  display: flex;
  height: 450px;
  width: 650px;
  overflow: hidden;
  justify-content: center;
}

img {
  height: 100%;
  background-size: cover;
}