.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.intro-name {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  cursor: default;
}

.intro h1 {
  font-size: 200px;
  animation: showup 3s forwards 2s;
}

.intro h2 {
  font-size: 200px;
  animation: showup 3s forwards;
}

.mask-up {
  background-color: var(--grey-900);
  z-index: 2;
  left: 0;
  top: 270px;
  height: 200px;
  width: 250px;
  position: absolute;
  animation: move 3s forwards 1s;
  display: flex;
}

.mask-bot {
  background-color: var(--grey-900);
  left: 0;
  top: 470px;
  height: 200px;
  width: 950px;
  position: absolute;
  animation: move 3s forwards 2s;
  display: flex;
}

@keyframes showup {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes move {
  100% {
    transform: translateX(1000px);
    visibility: hidden;
  }
}

/* X-Small devices (portrait phones, 576px and down) */
@media (max-width: 575.8px) {
  .intro {
    width: 80%;
    margin: auto;
    overflow: visible;
  }

  .intro h1 {
    font-size: 100px;
    margin-left: 12%;
    animation: none;
  }
  
  .intro h2 {
    font-size: 100px;
    margin-left: 6%;
    animation: none;
  }

  .mask-up, .mask-bot {
    display: none;
  }
}

/* Small devices (landscape phones, 768px and down) */
@media (max-width: 767.8px) {
  
}

/* Medium devices (tablets, 992px and down) */
@media (max-width: 991.8px) {
  
}

/* Large devices (desktops, 1200px and down) */
@media (max-width: 1199.8px) {
  
}