* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

:root {
  /* grey */
  --grey-50: #fafafa;
  --grey-100: #f4f4f5;
  --grey-200: #e4e4e7;
  --grey-300: #d4d4d8;
  --grey-400: #a1a1aa;
  --grey-500: #71717a;
  --grey-600: #52525b;
  --grey-700: #3f3f46;
  --grey-800: #27272a;
  --grey-900: #18181b;
  /* basic */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;
}

body {
  background-color: var(--grey-900);
  color: var(--grey-300);
}

/* scrollbar */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--grey-800);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--grey-700);
}

::-webkit-scrollbar-corner {
  border-color: var(--grey-900);
}