.projects-container h3 {
  font-size: 80px;
  margin-top: 150px;
  cursor: default;
}

.projects-container {
  display: flex;
  height: 100vh;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.projects {
  display: flex;
  margin-top: 130px;
  height: 450px;
  width: 650px;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.single-card {
  display: flex;
  overflow: hidden;
  width: 600px;
}

.fa-solid {
  font-size: 50px;
  cursor: pointer;
  transition: 0.3s ease-in-out all;
  position: absolute;
  z-index: 2;
}

.fa-chevron-right {
  right: 0;
}

.projects i:hover {
  transform: scale(1.1);
}

.dot-wrapper {
  display: flex;
  flex-direction: row;
  gap: 5px;
  position: absolute;
  top: 440px;
  left: 297px;
  align-items: center;
}

.dot {
  display: block;
  height: 6px;
  width: 6px;
  border-radius: 3px;
  background-color: var(--grey-300);
  transition: 0.3s ease-in-out all;
}

.dot-border {
  transform: scale(1.5);
}