.projects-container h3 {
  font-size: 80px;
  margin-top: 100px;
  cursor: default;
}

.projects-container {
  display: flex;
  height: 100vh;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.projects {
  display: flex;
  margin-top: 170px;
  height: 400px;
  width: 650px;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.fa-solid {
  font-size: 50px;
  cursor: pointer;
  transition: 0.3s ease-in-out all;
  position: absolute;
  z-index: 2;
}

.fa-chevron-right {
  right: 0;
}

.projects i:hover {
  transform: scale(1.1);
}

.card {
  left: 0px;
}