.projects-container h3 {
  font-size: 80px;
  margin-top: 100px;
  cursor: default;
}

.projects-container {
  display: flex;
  height: 100vh;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.projects {
  display: flex;
  margin-top: 120px;
  height: 50%;
  width: 40%;
  justify-content: space-between;
  align-items: center;
}

.projects i {
  font-size: 50px;
  cursor: pointer;
}

.projects i:hover {
  transform: scale(1.2);
}