.contacts-container {
  height: 100vh;
  display: flex;
  align-items: center;
}

.contacts {
  width: 1240px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
}

.line {
  display: block;
  height: 570px;
  border-left: 2px solid var(--grey-500);
}

/* contact-links */

.contacts-container p {
  font-size: 40px;
  color: var(--grey-300);
  text-align: center;
  margin-bottom: 20px;
  cursor: default;
}

.contact-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icon-container {
  display: flex;
  justify-content: space-around;
}

.fa-brands {
  font-size: 50px;
  transition: 0.3s ease-in-out;
}

.fa-brands:hover {
  transform: scale(1.1);
}

/* form */

.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form {
  display: flex;
  width: 450px;
  flex-direction: column;
  row-gap: 20px;
}

input,
textarea {
  padding: 15px;
  color: var(--grey-300);
  background-color: var(--grey-900);
  border: none;
  border-bottom: 1px solid var(--grey-300);
  width: 1fr;
}

textarea {
  resize: vertical;
  max-width: calc(100% - 30px);
}

input:focus,
textarea:focus {
  background-color: var(--grey-800);
  outline: none;
}

input::placeholder,
textarea::placeholder {
  letter-spacing: 1px;
}

button {
  letter-spacing: 1px;
  padding: 20px;
  background-color: var(--grey-300);
  color: var(--grey-900);
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

button:hover {
  transform: scale(1.01);
}

/* X-Small devices (portrait phones, 576px and down) */
@media (max-width: 575.8px) {
  .contacts-container {
    height: auto;
    margin-top: 150px;
    margin-bottom: 50px;
  }

  .contacts-container p {
    font-size: 30px;
  }
  
  .contacts {
    flex-direction: column;
    align-items: center;
    gap: 80px;
    width: 80%;
  }

  form {
    width: 100%;
  }

  .line {
    display: none;
  }
}

/* Small devices (landscape phones, 768px and down) */
@media (max-width: 767.8px) {}

/* Medium devices (tablets, 992px and down) */
@media (max-width: 991.8px) {}

/* Large devices (desktops, 1200px and down) */
@media (max-width: 1199.8px) {}